name: PNPM CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4

      - uses: pnpm/action-setup@v2.4.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 8
          run_install: true

      - name: Test
        env: # repo secrets as environment variable
          IFTTT_KEY: ${{ secrets.IFTTT_KEY }}
        run: |
          printenv
          pnpm fmt
          pnpm test:fmt
          pnpm test:coverage

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: |
            test-results.xml
          output: "test-summary.md"
        if: always()
      - name: PR Comment
        uses: machine-learning-apps/pr-comment@1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: test-summary.md
        if: github.event_name == 'pull_request'

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Generate Swagger Spec JSON
        run: |
          pnpm swagger

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: auto-format code style [ci skip]"
          file_pattern: ":/*.*"
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
